<!DOCTYPE html>
<html>

<head>
    <title>CropWise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg') }}">
</head>

<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="CropWise Logo">
        <h1>CropWise</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; CropWise</p>
    </footer>
</body>

</html>